# SIMBA CONF
# version 0.002
# 2019.10.09
# Specify paths:
rtd=/home/vulat/Projects/pysimba 
bin=/home/vulat/Projects/pysimba/bin
int=/home/vulat/Projects/pysimba/input
wrd=/home/vulat/Projects/pysimba/scratch
out=/home/vulat/Projects/pysimba/output
arch=/home/home/vulat/Projects/pysimba/arch
mdl=/home/vulat/Projects/pysimba/models
tpl=/home/vulat/Projects/pysimba/templates
lgd=/home/vulat/Projects/pysimba/logs
# Specify log file:
slg=/home/vulat/Projects/pysimba/logs/simba.LOG
# Database credentials:
dbh=localhost
dpt=5432
dbn=pysimba
dbu=vulat
dbp=hyperCloudX
# Specify paths to engines:
r344=/usr/bin
asm=null
bsh=/bin/bash
