# SIMBA CONF
# version 0.002
# 2019.10.09
rtd=/home/vulat/Projects/pysimba 
bin=/home/vulat/Projects/pysimba/bin
int=/home/vulat/Projects/pysimba/input
wrd=/home/vulat/Projects/pysimba/scratch
out=/home/vulat/Projects/pysimba/output
mdl=/home/vulat/Projects/pysimba/models
tpl=/home/vulat/Projects/pysimba/templates
lgd=/home/vulat/Projects/pysimba/logs
slg=/home/vulat/Projects/pysimba/logs/simba.LOG
dbh=localhost
dpt=5432
dbn=pysimba
dbu=vulat
dbp=hyperCloudX
rd1=/usr/bin
asm=null
bsh=/bin/bash
