# SIMBA CONF
# version 0.002
# 2019.10.09

# File management (settings for cleaner.py)
# age: age of file (in days) to delete
# set: number of files per folder in archive
age=30
set=1000 

# Directory settings:
rtd=/home/aadmin/ebs-af
bin=/home/aadmin/ebs-af/aeo/bin
int=/home/aadmin/ebs-af/aeo/input
wrd=/home/aadmin/ebs-af/aeo/scratch
out=/home/aadmin/ebs-af/aeo/output
arch=/home/aadmin/ebs-af/aeo/archive
mdl=/home/aadmin/ebs-af/models
tpl=/home/aadmin/ebs-af/aeo/templates
lgd=/home/aadmin/ebs-af/aeo/logs
dpo=/home/aadmin/ebs-af/dpo

# Specify log file:
slg=/home/aadmin/ebs-af/aeo/logs/simba.LOG

# Database credentials:
dbh=localhost
dpt=5432
dbn=pysimba
dbu=vulat
dbp=hyperCloudX

# Engine configuration:
r344=/usr/bin
asm=null
bsh=/bin/bash
