amqp==5.0.6
attrdict==2.0.1
attrs==20.3.0
billiard==3.6.4.0
celery==5.0.5
celery-message-consumer==1.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
configloader==1.0.1
docker==5.0.0
flexisettings==1.0.5
gevent==21.1.2
greenlet==1.0.0
idna==2.10
iniconfig==1.1.1
jsonpickle==2.0.0
kombu==5.0.2
numpy==1.20.2
packaging==20.9
pandas==1.2.3
pluggy==0.13.1
prompt-toolkit==3.0.18
psycopg2-binary==2.8.6
py==1.10.0
pydantic==1.8.1
pyparsing==2.4.7
pytest==6.2.3
pytest-mock==3.5.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
SQLAlchemy==1.4.11
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
vine==5.0.0
websocket-client==1.0.1
wcwidth==0.2.5
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.3.0
factory-boy
