[program:default_worker]
command = celery --config='af.orchestrator.defaultconfig' -A af.orchestrator.app worker -Q default --concurrency=10 -l %(ENV_LOG_LEVEL)s
directory = %(here)s
startsecs = 5
autostart = true
autorestart = true
stopwaitsecs = 60
stderr_logfile = /dev/stderr
stderr_logfile_maxbytes = 0
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
#broker_transport_options={"heartbeat": 40} #https://github.com/celery/celery/issues/7250

#broker_pool_limit = 0
#broker_transport_options={'confirm_publish': True} # https://github.com/celery/celery/discussions/7028 - JDLS
#broker_transport_options = {'queue_order_strategy': 'priority'}
#task_default_priority = 1
#beat_schedule = CELERYBEAT_SCHEDULE #https://stackoverflow.com/questions/73855879/how-to-set-priority-in-celerybeat-schedule-config

[program:asreml_worker]
command = celery --config='af.orchestrator.asremlconfig' -A af.orchestrator.app worker -n "asreml_worker" -Q ASREML --concurrency=%(ENV_ASREML_SEATS)s -l %(ENV_LOG_LEVEL)s
directory = %(here)s
startsecs = 5
autostart = true
autorestart = true
stopwaitsecs = 60
stderr_logfile = /dev/stderr
stderr_logfile_maxbytes = 0
stdout_logfile = /dev/stdout
stdout_logfile_maxbytes = 0
#broker_transport_options={"heartbeat": 40} #https://github.com/celery/celery/issues/7250

#broker_pool_limit = 0
#broker_transport_options={'confirm_publish': True} # https://github.com/celery/celery/discussions/7028 - JDLS
#broker_transport_options = {'queue_order_strategy': 'priority'}
#task_default_priority = 1
#beat_schedule = CELERYBEAT_SCHEDULE #https://stackoverflow.com/questions/73855879/how-to-set-priority-in-celerybeat-schedule-config

[supervisord]
loglevel = info
nodaemon = true
pidfile = /tmp/supervisord.pid
logfile = /dev/null
logfile_maxbytes = 0
