{
    "metadata":{
       "requestCategory": "",
       "requestType": "Trial Design",
       "requestMethod": "runALPHALATTICE",
       "requestDesign": "Alpha Lattice",
       "requestTimestamp": "[RQTS]",
       "requestId": "[RQID]",
       "requestorId": [RRID]
    },
    "parameters":{
       "nTreatment": 24,
       "nBlk": 4,
       "nRep": 4,
       "nTrial": 4,
       "genLayout":"F"
    }
}
