{
    "metadata":{
       "requestCategory": "",
       "requestType": "Trial Design",
       "requestMethod": "runALPHALATTICE",
       "requestEngine": "R 3.4.4",
       "requestDesign": "Alpha Lattice",
       "requestTimestamp": "[RQTS]",
       "requestId": "[RQID]",
       "requestorId": [RRID]
    },
    "parameters":{
       "nTreatment":24,
       "nBlk":4,
       "nRep":4,
       "nTrial":2,
       "genLayout":"T",
       "nRowPerBlk":2,
       "nRowPerRep":4,
       "nFieldRow":8,
       "serpentine":"T"
    }
}
