{
  "metadata":{
     "requestCategory": "",
     "requestType": "Statiscal Analysis",
     "requestMethod": "asreml",
     "requestModel": "[RMDL]",
     "requestTimestamp": "[RQTS]",
     "requestId": "[RQID]",
     "requestorId": "[RRID]",
     "analysisId": "[ANID]"
  },
  "job":{ 
    "job001":{
       "jobId": "[ANID].1.1",
       "parameters":{
         "executable": "[ANID].1.1.as",
         "input": "[ANID].1.1.dt"
       }
    },
    "job002":{
       "jobId": "[ANID].1.2",
       "parameters":{
         "executable": "[ANID].1.2.as",
         "input": "[ANID].1.2.dt"
       }
    }
  }
} 
