{
    "metadata":{
       "requestCategory": "",
       "requestType": "Trial Design",
       "requestMethod": "runAUGMENTEDRCBD",
       "requestEngine": "R 3.4.4",
       "requestDesign": "Augmented RCBD",
       "requestTimestamp": "[RQTS]",
       "requestId": "[RQID]",
       "requestorId": [RRID]
    },
    "parameters":{
       "nCheckTreatment": 6,
       "nTestTreatment": 8,
       "nRep": 4,
       "nTrial": 4,
       "genLayout":"T",
       "nFieldRow": 4,
       "nRowPerRep": 2,
       "serpentine": "T"
    }
}
