{
    "metadata":{
       "requestCategory": "",
       "requestType": "Trial Design",
       "requestMethod": "runAUGMENTEDRCBD",
       "requestDesign": "Augmented RCBD",
       "requestTimestamp": "[RQTS]",
       "requestId": "[RQID]",
       "requestorId": [RRID]
    },
    "parameters":{
       "nCheckTreatment": 6,
       "nTestTreatment": 8,
       "nRep": 4,
       "nTrial": 2,
       "genLayout":"F"
    }
}
