{
    "metadata":{
       "requestCategory": "",
       "requestType": "Trial Design",
       "requestMethod": "runRCBD",
       "requestEngine": "R 3.4.4",
       "requestDesign": "Randomized Complete Block",
       "requestTimestamp": "[RQTS]",
       "requestId": "[RQID]",
       "requestorId": [RRID]
    },
    "parameters":{
       "nTreatment": 25,
       "nRep": 3,
       "nTrial": 4,
       "genLayout":"T",
       "nFieldRow": 25,
       "nRowPerRep": 25,
       "serpentine": "F"
    }
}
