{
    "metadata":{
       "requestCategory": "",
       "requestType": "Trial Design",
       "requestMethod": "runROWCOLUMN",
       "requestDesign": "Row-Column",
       "requestTimestamp": "[RQTS]",
       "requestId": "[RQID]",
       "requestorId": [RRID]
    },
    "parameters":{
       "nTreatment": 20,
       "nRowBlk": 4,
       "nRep": 4,
       "nTrial": 3,
       "genLayout":"T",
       "nFieldRow": 8,
       "serpentine": "T"
    }
}
