attrs
certifi
chardet
coverage
dataclasses
idna
importlib-metadata
iniconfig
numpy
packaging
pandas
pip
pkg-resources
pluggy
py
pydantic
pyparsing
pytest
python-dateutil
pytz
requests
setuptools
six
toml
typing-extensions
urllib3
zipp
